<% include ./partials/dh %>


   


        <div class="content">
            <div class="container-fluid">
                <div class="row">

					<div class="col-md-4">
                        <div class="card card-theme">
							<img src="/stylesheets/LightBootstrapDashboard/assets/img/opt_lbd_thumbnail.jpg"/>
							<div class="footer">
								<h5 class="pull-left">Active: Theme</h5>
								<button class="btn btn-default btn-sm btn-fill pull-right">
									Customize
								</button>
								<div class="clearfix"></div>
							</div>
                        </div>
                    </div>

					<div class="col-md-4">
                        <div class="card card-theme">
							<img src="/stylesheets/LightBootstrapDashboard/assets/img/opt_pk_thumbnail.jpg"/>
							<div class="footer">
								<h5 class="pull-left">Beautiful Theme</h5>
								<button class="btn btn-default btn-sm btn-fill pull-right" rel="tooltip" title="Live Preview">
									<i class="fa fa-picture-o"></i>
								</button>
								<button class="btn btn-info btn-sm btn-fill pull-right" rel="tooltip" title="Activate Theme">
									<i class="fa fa-check"></i>
								</button>
								<div class="clearfix"></div>
							</div>
                        </div>
                    </div>

					<div class="col-md-4">
                        <div class="card card-theme">
							<div class="alert alert-warning" role="alert">
								<i class="fa fa-refresh"></i> Update Available
							</div>
							<img src="/stylesheets/LightBootstrapDashboard/assets/img/opt_gsdk_new_thumbnail.jpg"/>
							<div class="footer">
								<h5 class="pull-left">Another Theme</h5>
								<button class="btn btn-default btn-sm btn-fill pull-right" rel="tooltip" title="Live Preview">
									<i class="fa fa-picture-o"></i>
								</button>
								<button class="btn btn-info btn-sm btn-fill pull-right" rel="tooltip" title="Activate Theme">
									<i class="fa fa-check"></i>
								</button>
								<div class="clearfix"></div>
							</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>


</body>
<% include ./partials/df %>
</html>
