<% include ./partials/dh %>


  


        <div class="content">
            <div class="container-fluid">
                <div class="row">
					<div class="col-md-12">
						<h3>Dashboard</h3>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="header">
								<h4 class="title">Quick Draft</h4>
							</div>
							<div class="content">
                                <form>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input type="text" class="form-control" placeholder="Here you can write your title">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>What's on your mind</label>
                                                <textarea rows="5" class="form-control" placeholder="Here can be your description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Save Draft</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="card card-glance">
							<div class="header">
								<h4 class="title">At a Glance</h4>
							</div>
							<div class="content">
                                <div class="row">
                                	<div class="col-md-4">
                                		<i class="pe-7s-note2"></i>
										<a href="#"><h5>25 Posts</h5></a>
                                	</div>
									<div class="col-md-4">
                                		<i class="pe-7s-comment"></i>
										<a href="#"><h5>74 Comments</h5></a>
                                	</div>
									<div class="col-md-4">
                                		<i class="pe-7s-copy-file"></i>
										<a href="#"><h5>1 Page</h5></a>
                                	</div>
                                </div>
								<div class="footer">
									<hr />
									WordPress 4.1.4 running Dazzling theme.
								</div>
                            </div>
						</div>
					</div>

					<div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Activity</h4>
                                <p class="category">Comments</p>
                            </div>
                            <div class="content table-comments">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="/stylesheets/LightBootstrapDashboard/assets/img/default-avatar.png" />
                                                </td>
                                                <td>From <a href="#">seonewtool</a> on <a href="#">10 Tricks That Will Improve Your Website Speed #</a> If any link is redirected to another website or shows error then it is found to be broken link. Broken …</td>
                                                <td class="td-actions text-right">
													<button type="button" rel="tooltip" title="Reply to Comment" class="btn btn-success btn-simple btn-xs">
														<i class="fa fa-reply"></i>
													</button>
													<button type="button" rel="tooltip" title="Edit Comment" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>

											<tr>
                                                <td>
                                                    <img src="/stylesheets/LightBootstrapDashboard/assets/img/default-avatar.png" />
                                                </td>
                                                <td>From <a href="#">seonewtool</a> on <a href="#">10 Tricks That Will Improve Your Website Speed #</a> If any link is redirected to another website or shows error then it is found to be broken link. Broken …</td>
                                                <td class="td-actions text-right">
													<button type="button" rel="tooltip" title="Reply to Comment" class="btn btn-success btn-simple btn-xs">
														<i class="fa fa-reply"></i>
													</button>
													<button type="button" rel="tooltip" title="Edit Comment" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>

											<tr>
                                                <td>
                                                    <img src="/stylesheets/LightBootstrapDashboard/assets/img/default-avatar.png" />
                                                </td>
                                                <td>From <a href="#">seonewtool</a> on <a href="#">10 Tricks That Will Improve Your Website Speed #</a> If any link is redirected to another website or shows error then it is found to be broken link. Broken …</td>
                                                <td class="td-actions text-right">
													<button type="button" rel="tooltip" title="Reply to Comment" class="btn btn-success btn-simple btn-xs">
														<i class="fa fa-reply"></i>
													</button>
													<button type="button" rel="tooltip" title="Edit Comment" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <a href="#">All</a>|
										<a href="#">Pending (0)</a>|
										<a href="#">Approved</a>|
										<a href="#">Spam (23,299)</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

<% include ./partials/df %>


</html>
