<% include ../partials/errorPagePartial %>
<div class="container">
    <div id="margin-Top50">
        <div class="half-half">
            <div id="statusCode">
                <h1 id="errorStatus">404</h1>
            </div>
            <div id="statusMessage">
                <h2 id="errorMessage">We couldn't locate this page. </h2>
                <p id="errorRedirect">You can always find insightful stories on our <a id="link-underline" href="/">homepage.</a></p>
            </div>
        </div>
    </div>
    
    <div class="half-half">
            <!-- <form action="">
                    <input id="errorInput" placeholder="Search VIPODAZA" type="text">
                </form> -->
                <!-- <div>
                    <p id="errorRedirect">You can always find insightful stories on our <a id="link-underline" href="/"> <strong>homepage</strong> </a></p>
                </div> -->
            
    </div>
   
</div>
<% include ../partials/footer %>